body{
    background-image: url("https://www.baileys.com/PR1748www.baileys.com/media///cm5jtfqs/flat-white-martini-cocktail-hero.jpg");
    background-size: cover;
}
.contenedor {
    border: 2px solid black;  
    width: 50%;
    min-height: 65vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);  
    backdrop-filter: blur(10px);  
}
.imagen {
    width: 30%;
    height: auto; 
    margin-top: 20px;  
    margin-left: 60%;  
    margin-right: 10px;  
}
.textos{
    color: white;
    position: absolute;
    
    margin-top: -27%;  
  
    height: 100%; 
    padding-right: 20px; 
}
h1 {
    text-shadow: 2px 2px 4px rgba(0, 9, 5, 0.5);
    color: white; 
    position: absolute;
    margin-left: 35%;
    margin-top:4%;
}
 
 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{

font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #0066cc05;
padding: 10px 30px;
border: none;
box-shadow: none;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
margin-top: 23%;
margin-left:80%;
}

.btn:hover{

transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #781313;
color: white;
border: solid 2px #0066cc;
}


 